<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12794894352-d3oqtl4bsrphtvrsn0igesaggoacmg3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12794894352-d3oqtl4bsrphtvrsn0igesaggoacmg3o</string>
	<key>API_KEY</key>
	<string>AIzaSyAq6EPy1so8WxTNI5W0b0u39xUoWpsT_l8</string>
	<key>GCM_SENDER_ID</key>
	<string>12794894352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>space.scriptai.money.NewMoneyIPhone</string>
	<key>PROJECT_ID</key>
	<string>new-money-14d2a</string>
	<key>STORAGE_BUCKET</key>
	<string>new-money-14d2a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12794894352:ios:5f4766c16a740ec63bd295</string>
</dict>
</plist>